
:root {
    --main-title-color:#212121;
    --two-title-color:#FFFFFF;
    --main-btn-color:#FFFFFF;
    --accent-color:#2196F3;
    --primary-text-color:#757575;
    --foot-cont:rgba(255, 255, 255, 0.6);
    --effect-color: #2F303A;
    --btn-comand:#F5F4FA ;
    }
.body {
 font-family: "Roboto", sans-serif;
 letter-spacing: 0.03em;
 color: var(--main-title-color);
 background-color: var(--main-btn-color);
 }

.header{
    background: var(--main-btn-color);
    list-style-type: none;
}
a {
    text-decoration: none;
    font-style: normal;}
.link{
    text-decoration: none;   
}
.logo {
    font-family:'Raleway', sans-serif;
    font-weight:700;
    font-size: 26px;
    line-height: 1.19; 
    color: var(--accent-color);
}
.logo-two {
    color: black;
}
.logo-thre{
    color:var(--two-title-color);
}

.list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    list-style: none;
    
}
.list-cont{
    color:var(--main-title-color);
}

/*сыслку делаем синей и основной*/
.list-cont:hover,
.list-cont:focus,
.current {
    color: var(--accent-color);
}

.list-tel {
    color:var(--primary-text-color) ;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*спрятали заголовок список работ*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-effect {
    background-color:var(--effect-color)
}
.main-head{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--two-title-color);
}
.main-btn {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color:var(--two-title-color);
} 

.cursor:hover
.cursor:focus {
    box-shadow: 0px 4px 4px 0px #00000026;
}

.type-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}
.task,  .comand {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--main-title-color);
}
.back {
    background-color: var(--btn-comand);
}
    
.comand-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-title-color);
}
.comand-position {
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
}
.non-decor{
    list-style: none; /* del список*/
}
.no-line{
    text-decoration: none;
}
.cont-link:hover ,
.cont-link:focus{
    color: var(--accent-color);
}
.button {cursor: pointer;}


.name-add{
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}
.name-work{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--main-title-color);
}
.name-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--main-title-color);
    cursor: pointer;
    background-color: #F5F4FA;
}
.name-button:hover,
.name-button:focus {
background-color: var(--accent-color);
color:var(--two-title-color);
}

.logo-footer span {
    color:var(--main-title-color);
}

.adress {
    font-style: normal;
    line-height: 1.71;
    color: var(--accent-color);
}

.adress-contact {
    line-height: 1.71;   
    color: var(--primary-text-color);
}
.style{
    font-style:normal; /*убрали курсив*/
}
.foot-add{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--two-title-color);
}
.cont-add{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--foot-cont);
}